@import url(tokens.css);
@import url(semantics.css);
/* @import url(base.css); */
@import "tailwindcss";
@theme {

    
    --color-brand: var(--color-primary-700);
    --color-brand-soft: var(--color-primary-300;)

}
