@import url(tokens.css);
@import url(semantic.css);
@import "tailwindcss";

@theme {

  /* ===== COLORES ===== */
  --color-brand: var(--semantic-brand);
  --color-brand-hover: var(--semantic-brand-hover);
  --color-brand-soft: var(--semantic-brand-soft);
  --color-brand-light: var(--semantic-brand-light);

  --color-border: var(--semantic-border);

  --color-text-primary: var(--semantic-text-primary);
  --color-text-muted: var(--semantic-text-muted);
  --color-text-inverse: var(--semantic-text-inverse);
  --color-text-secundary: var(--semantic-text-secundary);
  --color-text-dropdowns: var(--semantic-text-dropdowns);

  --color-background: var(--semantic-background);
  --color-background-md: var(--semantic-surface);
  --color-background-muted: var( --semantic-surface-muted);
  --color-background-sidebar: var(--semantic-background-sidebar);

  /* ===== TIPOGRAFÍA ===== */
  --font-md: var(--fs-md: 1.5rem)
  --font-sans: var(--main-font);
}    