@import url(tokens.css);
@import url(semantics.css);
@import "tailwindcss";

@theme {
  --color-brand: var(--semantic-brand);
  --color-brand-hover: var(--semantic-brand-hover);
  --color-brand-soft: var(--semantic-brand-soft);

  --color-border: var(--semantic-border);
  --color-text-muted: var(--semantic-text-muted);
  --color-background: var(--semantic-backgroond);
}