/* Son roles de la interfaz */

 :root {

    /* ====BRAND==== */

    --semantic-brand:       var(--color-primary-400);
    --semantic-brand-hover: var(--color-primary-500); /* Generalmente es un toino mas alto que el brand*/
    --semantic-brand-soft:  var(--color-basic-white);

    /* ======BACKGROOND====== */

    --semantic-backgroond:     var(--color-basic-white);/*Fondo de toda la aplicacion*/
    --semantic-surface:        var(--color-basic-600); /*Fondo de modales,cards,conteiners */
    --semantic-surface-muted:  var(--color-secondary-300); /*Zonas secundarias con menos importancia*/

    /* ====== TEXT ====== */

    --semantic-text-primary:   var(--color-basic-black);   /*Color principal de lectura, titulos,texto base del documento*/
    --semantic-text-secundary: var(--color-basic-white); /*Textos menos dominantes*/
    --semantic-text-muted:     var(--color-basic-500); /*Texto desabilitado */
    --semantic-text-inverse:   var(--color-basic-50); /*Texto invertido */

    /* =====BORDER===== */

    --semantic-border: var(--color-basic-200); /*Borde principal de todos los componentes*/
    --semantic-border-strong:  var(--color-basic-400); /*Bordes mas potentes */

    /* =======STATE====== */

    --semantic-warning:var(--color-secondary-400);

    /* ===================================================================================== */
    /*                      YA NO DEPENDEMOS DE NOMBRES DE COLOR,
                                DEPENDEMOS DE INTENCION */
    /* ===================================================================================== */

 }