/* Se ingresan las variables ctal y como se planearon en la guia de estilos */

:root{

    /* Primary Color */
    --color-primary-50: #F0F9FF;
    --color-primary-100: #E0F2FE;
    --color-primary-200: #BAE6FD; 
    --color-primary-300: #7DD3FC;
    --color-primary-400: #38BDF8;
    --color-primary-500: #0EA5E9;
    --color-primary-600: #0284C7;
    --color-primary-700: #0369A1;
    --color-primary-800: #075985;
    --color-primary-900: #0C4A6E;
    --color-primary-950: #082F49;

    /* Secundary Color */
    --color-secondary-50: #f1fcfb; 
    --color-secondary-100: #cef9f4; 
    --color-secondary-200: #9df2e9; 
    --color-secondary-300: #65e3db; 
    --color-secondary-400: #48d1cc; 
    --color-secondary-500: #1cb0ad; 
    --color-secondary-600: #138e8e; 
    --color-secondary-700: #147071; 
    --color-secondary-800: #15585a; 
    --color-secondary-900: #16494b; 
    --color-secondary-950: #062b2d; 

    /* Color basic */
     --color-basic-white: #ffffff; 
     --color-basic-black: #000000; 
     --color-basic-50: #181818; 
     --color-basic-100: #242424; 
     --color-basic-200: #3D3D3D; 
     --color-basic-300: #565656; 
     --color-basic-400: #6E6E6E; 
     --color-basic-500: #878787; 
     --color-basic-600: #9F9F9F; 
     --color-basic-700: #B8B8B8; 
     --color-basic-800: #D1D1D1; 
     --color-basic-900: #E9E9E9; 
     --color-basic-950: #F6F6F6; 

    /* Typography */
    --main-font: Helvetica;

    /* Font-size */
    --fs-xxxxl: 8.0rem;    
    --fs-xxxl: 6.4rem; 
    --fs-xxl: 4.8rem; 
    --fs-xl: 4.0rem; 
    --fs-lg: 3.2rem; 
    --fs-md: 2.4rem; 
    --fs-sm: 2.0rem; 
    --fs-xs: 1.6rem; 
    --fs-xxs: 1.4rem; 
    --fs-xxxs: 1.2rem; 
}